extends layout

block content
  h1= title

  ul
  each val in student_inf
    li 学号： #{val.jnuid}
    li 姓名: #{val.name}
    li 性别: #{val.gender}
    li 出生年月: #{val.birthday}
    li 手机: #{val.cellphone}
    hr
  else 
    li 没有查询到！

  form(method='post' action='')
    input(type='submit' value='是的，删除')
  form(method='get' action='/')
    input(type='submit' value='取消，返回首页')

  if errors
    ul
      for error in errors
        li!= error.msg