// correct
a(href='baidu.com')
-
 var A = "abc"+"def";
 var B = A + "ddd";
each ele in A
  li= ele
each ele in B 
  li= ele

// another one
-
  var A = "abc"+"def";
  var B = A + "ddd";

- for (var i=0;i<5;i++)
  li yudan

// test-2

mixin pet(name)
  li.pet= name
ul
  +pet('猫')
  +pet('狗')
  +pet('猪')

// test-3
script.
  if (usingPug)
    console.log('这是明智的选择。')
  else
    console.log('请用 Pug。')

//test-4
canvas#myChart

//test-5
p.comment= "<!-- some comments -->"

//test-6
body
  //-
    给模板写的注释
    随便写多少字
    都没关系。
  //
    给生成的 HTML 写的注释
    随便写多少字
    都没关系。

//test-8

p something again 
  var ll = ''
  each val in ['11', '22', '33']
      ll = ll + #{val}